@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
* {
    font-family: Poppins;
}

.customScrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4338ca #ccc;
}

.customScrollbar::-webkit-scrollbar-track {
    background: #ccc;
}

.customScrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: #4338ca;
    border-radius: 10px;
}